doctype html
html(lang='en') 
  head
    title Map Api
    meta(charset='utf-8')  
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="description" content=" Learn more! ")
    meta(name="robots" contet="index,follow")
    meta(name="author" content="George Crisan at georgerdp@gmail.com")
    link(rel='stylesheet' href='bootstrap.min.css')
    link(rel='stylesheet' href='style.min.css')
  body
    header 
    main 
      h1 Search for places around specific location:
      .container.main-form
        .row 
          .col-md-6.offset-md-3
            form(onsubmit="return false").inputs
              .form-group
                label(for='location') Enter/Select Country:
                input(type='text' name='Countries'  list='countries' id='selectCountry'  class='form-control' required)
                datalist(id='countries')  
                  option(value='United Kingdom') United Kingdom
                  option(value='Germany') Germany
                  option(value="Romania") Romania
                  option(value="USA") USA
                  option(value='Japan') Japan
              .form-group
                label(for='location') Starting Location(city,town):
                input(type='text' id='location' value='Norwich' class='form-control' required)
              .form-group
                label(for='searchTerm') Place(s) to search:
                input(type='text' id='searchTerm' value='Castle' class='form-control' required)
              .form-group 
                label(for='mileRadius')  Area Radius in miles:
                input(type='text' id='mileRadius' value='10' class='form-control' required)    
              button.d-flex.justify-content-center(type='submit'  id='searchButton').btn.btn-warning Feeling Lucky!  
    section
      div#map
    script(rel='javascript' src='./jquery-3.2.0.min.js')
    script(rel='javascript' src='./lodash.min.js')
    script(rel='javascript' src='./bootstrap.min.js')  
    script(rel='javascript' src='./source-dist.js')
    script(src="https://maps.googleapis.com/maps/api/js?key=&libraries=places&callback=initMap" async defer)
//'AIzaSyBqxUUlurPmCju8KzoDRDuTtwHFHKobZ6g'